<head>
  <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
  <link
    rel="stylesheet"
    href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css"
  />
</head>
<div class="X">
  <h1>Houses</h1>
  <button class="reset-btn" [routerLink]="['/houses', 'new']">New</button>

  <ul class="SG">
    <li
      *ngFor="let house of houses"
      class="sgLi"
      [routerLink]="['/houses', house.id]"
    >
      <div class="box">
        <h3>{{ house.registrationNumber }}</h3>
        <ul class="df">
          <li>style: {{ house.style }}</li>
          <li>size: {{ house.size }}</li>
          <li>address : {{ house.address }}</li>
        </ul>
      </div>
    </li>
  </ul>

  <ag-grid-angular
    style="width: 800px; height: 500px"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
  >
  </ag-grid-angular>
</div>
